<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
</head>
<body>
	<form id="property-form">
		<input type="hidden" name="id" th:value="${property.id}" />
		<div class="row">
			<div class="col-md-4 name-wrapper">
				<div class="form-group">
					<label for="name">属性名</label> <input id="name" type="text"
						class="form-control" name="name" placeholder="请输入属性名"
						th:value="${property.name}" />
				</div>
			</div>
			<div class="col-md-4 type-wrapper">
				<div class="form-group">
					<label>属性类型</label> <select class="form-control type-select"
						name="type">
						<option th:each="type : ${property.types}" th:value="${type}"
							th:text="${type}" th:selected="${property.type==type}"></option>
					</select>
				</div>
			</div>
			<div class="col-md-4 columnName-wrapper">
				<div class="form-group">
					<label for="tableName">列名（不填即为属性名）</label> <input id="columnName"
						type="text" class="form-control" name="columnName"
						placeholder="请输入列名" th:value="${property.columnName}" />
				</div>
			</div>
			<div class="col-md-4 otherType-wrapper">
				<div class="form-group">
					<label>其他属性类型</label> <input id="otherType" type="text"
						class="form-control" name="otherType" placeholder="请输入其他属性类型"
						th:value="${property.otherType}" />
				</div>
			</div>
		</div>
		<div class="row base-wrapper">
			<div class="col-md-4">
				<label>主键</label> <select class="form-control isId-select"
					name="isId">
					<option value="否" th:selected="${property.isId=='否'}">否</option>
					<option value="是" th:selected="${property.isId=='是'}">是</option>
				</select>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label>唯一</label> <select class="form-control unique-select"
						name="unique">
						<option value="否" th:selected="${property.unique=='否'}">否</option>
						<option value="是" th:selected="${property.unique=='是'}">是</option>
					</select>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label>空</label> <select class="form-control nullable-select"
						name="nullable">
						<option value="是" th:selected="${property.nullable=='是'}">是</option>
						<option value="否" th:selected="${property.nullable=='否'}">否</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row number-wrapper">
			<div class="col-md-4 length-wrapper">
				<div class="form-group">
					<label for="length">长度</label> <input id="length" type="number"
						class="form-control" name="length" placeholder="请输入长度"
						th:value="${property.length}" />
				</div>
			</div>
			<div class="col-md-4 precision-wrapper">
				<div class="form-group">
					<label for="precision">非小数位数</label> <input id="precision"
						type="number" class="form-control" name="precision"
						placeholder="请输入非小数位数" th:value="${property.precision}" />
				</div>
			</div>
			<div class="col-md-4 scale-wrapper">
				<div class="form-group">
					<label>小数位数</label> <input id="scale" type="number"
						class="form-control" name="scale" placeholder="请输入小数位数"
						th:value="${property.scale}" />
				</div>
			</div>
		</div>
		<div class="row relation-wrapper">
			<div class="col-md-4">
				<div class="form-group">
					<label for="relation">关联关系</label> <select
						class="form-control relation-select" name="relation">
						<option value="OntToOne"
							th:selected="${property.relation=='OneToOne'}">OneToOne</option>
						<option value="OneToMany"
							th:selected="${property.relation=='OneToMany'}">OneToMany</option>
						<option value="ManyToOne"
							th:selected="${property.relation=='ManyToOne'}">ManyToOne</option>
						<option value="ManyToMany"
							th:selected="${property.relation=='ManyToMany'}">ManyToMany</option>
					</select>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="cascade">级联</label> <select
						class="form-control cascade-select" name="cascade">
						<option value="REFRESH"
							th:selected="${property.cascade=='REFRESH'}">REFRESH</option>
						<option value="PERSIST"
							th:selected="${property.cascade=='PERSIST'}">PERSIST</option>
						<option value="MERGE" th:selected="${property.cascade=='MERGE'}">MERGE</option>
						<option value="REMOVE" th:selected="${property.cascade=='REMOVE'}">REMOVE</option>
						<option value="DETACH" th:selected="${property.cascade=='DETACH'}">DETACH</option>
						<option value="ALL" th:selected="${property.cascade=='ALL'}">ALL</option>
					</select>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label>抓取策略</label> <select class="form-control fetch-select"
						name="fetch">
						<option value="LAZY" th:selected="${property.cascade=='LAZY'}">LAZY</option>
						<option value="EAGER" th:selected="${property.cascade=='EAGER'}">EAGER</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row foreign-key-wrapper">
			<div class="col-md-4 manage-wrapper">
				<div class="form-group">
					<label>管理/被管理端</label> <select class="form-control manage-select"
						name="manage">
						<option value="1"
							th:selected="${property.mappedBy ==null}  and ${property.joinColumns != null}">管理端</option>
						<option value="2"
							th:selected="${property.mappedBy !=null} and ${property.joinColumns == null}">被管理端</option>
					</select>
				</div>
			</div>
			<div class="col-md-4 joinTable-wrapper">
				<div class="form-group">
					<label>多对多中间表名称</label> <input id="joinTable" type="text"
						class="form-control" name="joinTable" placeholder="请输入多对多中间表名称"
						th:value="${property.joinTable}" />
				</div>
			</div>
			<div class="col-md-4 joinColumns-wrapper">
				<div class="form-group">
					<label>关联的外键（管理端）</label> <input id="joinColumns" type="text"
						class="form-control" name="joinColumns" placeholder="请输入关联的外键"
						th:value="${property.joinColumns}" />
				</div>
			</div>
			<div class="col-md-4 mappedBy-wrapper">
				<div class="form-group">
					<label>关联的属性名（被管理端）</label> <input id="mappedBy" type="text"
						class="form-control" name="mappedBy" placeholder="请输入关联的属性名"
						th:value="${property.mappedBy}" />
				</div>
			</div>
			<div class="col-md-4 inverseJoinColumns-wrapper">
				<div class="form-group">
					<label>多对多关联的外键（被管理端）</label> <input id="inverseJoinColumns"
						type="text" class="form-control" name="inverseJoinColumns"
						placeholder="请输入多对多关联的外键"
						th:value="${property.inverseJoinColumns}" />
				</div>
			</div>
		</div>
		<div class="row">
			<th:block th:if="${pojoId== null} or ${pojoId==''}">
				<div class="col-md-6">
					<div class="form-group">
						<label>注释</label> <input id="comment" type="text"
							class="form-control" name="comment" placeholder="请输入注释"
							th:value="${property.comment}" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="pojoId">所属实体</label> <select
							class="form-control pojo-select" name="pojoId"
							th:utext="${property.pojoSov.html}">
						</select>
					</div>
				</div>
			</th:block>
			<th:block th:if="${pojoId} != null and ${pojoId!=''}">
				<div class="col-md-12">
					<div class="form-group">
						<label>注释</label> <input id="comment" type="text"
							class="form-control" name="comment" placeholder="请输入注释"
							th:value="${property.comment}" />
					</div>
				</div>
				<input type="hidden" name="pojoId" th:value="${pojoId}" />
			</th:block>
		</div>
	</form>
	<script th:src="@{/js/admin/system/db/property/form.js}"
		type="text/javascript"></script>
</body>
</html>