.sweet-alert {
	z-index: 11000;
	border: 1px solid rgb(238, 238, 238);
}

.table-editor-input-text {
	width: 100%;
}

.md-checkbox {
	margin-top: 10px;
}

.table thead>tr>th {
	text-align: center;
}

.table tbody>tr>td {
	text-align: center;
}

.fileinput.input-group>* {
	position: relative;
	z-index: 2;
}

.fileinput .form-control {
	display: inline-block;
	padding-top: 7px;
	padding-bottom: 5px;
	margin-bottom: 0;
	vertical-align: middle;
	cursor: text;
}

.form-control .fileinput-filename {
	vertical-align: bottom;
}

.fileinput.input-group>.btn-file {
	z-index: 1;
}

.input-group-addon






:not



 



(
:first-child



 



)
{
border-left






:



 



0;
}
.fileinput .btn {
	vertical-align: middle;
}

.btn-file>input {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 23px;
	cursor: pointer;
	filter: alpha(opacity = 0);
	opacity: 0;
	direction: ltr;
}

.files-template .file-size {
	width: 300px;
}

.files-template .file-button {
	width: 120px;
}

.files-template.table>tbody>tr>td {
	vertical-align: middle;
}

.files-template .file-progress .progress {
	margin: 0px;
}

.file-select-template .progress {
	margin-top: 5px;
}
table thead tr th.operation-four-word {
	width: 100px;
}

table thead tr th.operation-six-word {
	width: 150px;
}

table thead tr th.operation-eight-word {
	width: 200px;
}

table thead tr th.operation-ten-word {
	width: 250px;
}

table thead tr th.operation-twelve-word {
	width: 300px;
}

table thead tr th.operation-thirteen-word {
	width: 325px;
}

@media ( max-width : 1600px) {
	table thead tr th.operation-four-word-block {
		width: 100px;
		display: block;
	}
	table thead tr th.operation-six-word-block {
		width: 150px;
		display: block;
	}
	table thead tr th.operation-eight-word-block {
		width: 200px;
		display: block;
	}
	table thead tr th.operation-ten-word-block {
		width: 250px;
		display: block;
	}
	table thead tr th.operation-twelve-word-block {
		width: 300px;
		display: block;
	}
	table thead tr th.operation-thirteen-word-block {
		width: 325px;
		display: block;
	}
}