<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
</head>
<body>
	<div class="row">
		<div class="col-md-12">
			<form class="form" id="user-avatar-form">
				<input type="hidden" name="id" th:value="${id}" />
				<div class="row">
					<div class="col-md-5 col-md-offset-4">
						<th:block th:if="${avatarId == '-1'}">
							<img th:src="@{/images/avatar.png}"
								class="circle responsive-img valign user-avatar-img"
								style="width: 180px; height: 180px;" />
						</th:block>
						<th:block th:if="${avatarId != '-1'}">
							<img th:src="@{/admin/user/showAvatarByAvatarId(id=${avatarId})}"
								class="circle responsive-img valign user-avatar-img"
								style="width: 180px; height: 180px;" />
						</th:block>
					</div>
				</div>
				<div class="row" style="margin-top: 10px;">
					<div class="col-md-10 col-md-offset-1">
						<div class="files-template-wrapper"></div>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>